@font-face {
    font-family: 'Segoe-UI';
    src: url(../fonts/Segoe-UI.ttf);
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}

* {
     font-family: 'Segoe-UI';  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* /Container */
.container {
    width: 450px;
    margin: auto;
    padding-top: 60px;
}
h1 {
    font-family: 'Roboto-Black';
    font-size: 42px;
    font-weight: 900;
    line-height: 49px;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 36px;
    padding-bottom: 36px;
}
input {
    width: 450px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    padding-left: 20px;
}
form>#login {
    width: 450px;
    height: 60px;
    background-color: #1DA1F2;
    color: white;
    border-radius: 76px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
#f-navigation {
    padding-top: 40px;
}
#f-navigation>a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #1DA1F2;
}
/* /Container */